<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <title>{{meta_title}}</title>
        
        <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        {{{body}}}

        {{ghost_foot}}

    </body>
</html>